<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Datenbank</title>
</head>
<body>
<button onclick="myonclick('adresse')">Adressen</button>
<button onclick="myonclick('ort')">Orte</button>
<button onclick="myonclick('person')">Person</button>
<br><br>
<table id="table"></table>

</body>
<script>
    function myonclick(table) {
        let xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("table").innerHTML = this.responseText;
            }
        };
        xhttp.open("POST", "/datenbank/getTable", true);
        xhttp.setRequestHeader("Content-type", "text/plain");
        xhttp.send(table);
    }
</script>
</html>
