<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<ul class="ulheader">
    <li class="header"><a href="/" target="_self">HOME</a></li>
    <li class="header" sec:authorize="hasRole('ROLE_USER')"><a href="/datenbank" target="_self">
        Datenbank-MVC</a></li>
    <li
            class="header" sec:authorize="hasRole('ROLE_USER')"><a href="/datenbankRest" target="_self">Datenbank
        -Rest</a></li>
    <li class="header"
        sec:authorize="hasRole('ROLE_USER')"><a href="/maxima" target="_self">Maxima</a></li>
    <li class="header"
        sec:authorize="hasRole('ROLE_ADMIN')"><a href="/manageUser" target="_self">User-Verwaltung</a></li>
    <li class="header" style="float:right"><a href="/logout" target="_self">logout</a></li>
</ul>

<form method="post" th:action="@{/formeval}">
    <span th:text="${v1}"></span><br>
    <label for="textInput" th:text="#{input}"/>
    <input autofocus="autofocus" id="textInput" name="textInput1" type="text"/>
    <input id="submit" type="submit" value="Submit!"/>
</form>
</body>
</html>
