<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>START</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <span>Das ist ein SpringBoot Server, der in AIIT in der Schule erstellt wurde.</span>
    <h1>Links</h1>
    <a href="/datenbank">Datenbank</a><br>
    <a href="/form">einfaches Form</a><br>
    <a href="/sterndreieck">Stern-Dreieck-Berechnung</a><br>
    <a href="v1/t1.html">Testseite - static</a><br>
    <a href="Hallo.html">Hallo - static</a><br>
</body>
</html>
