<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security5" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Maxima</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<ul class="ulheader">
    <li class="header"><a href="/" target="_self">HOME</a></li>
    <li class="header" sec:authorize="hasRole('ROLE_USER')"><a href="/datenbank" target="_self">
        Datenbank-MVC</a></li>
    <li
            class="header" sec:authorize="hasRole('ROLE_USER')"><a href="/datenbankRest" target="_self">Datenbank
        -Rest</a></li>
    <li class="header"
        sec:authorize="hasRole('ROLE_USER')"><a class="active" href="/maxima" target="_self">Maxima</a></li>
    <li class="header"
        sec:authorize="hasRole('ROLE_ADMIN')"><a href="/manageUser" target="_self">User-Verwaltung</a></li>
    <li class="header" style="float:right"><a href="/logout" target="_self">logout</a></li>
    <li class="header" style="float:right"><a class="active" th:text="${#authentication.getName()}"></a></li>
</ul>

<table>
    <thead>
    <tr>
        <th>index</th>
        <th>input</th>
        <th>output</th>
        <th>delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="command : ${commands}">
        <td th:text="${command.getIndex()}"></td>
        <td th:text="${command.getInput()}"></td>
        <td th:text="${command.getOutput()}"></td>
        <td>
            <button
                    th:onclick="remove([[${command.getIndex()}]])">delete
            </button>
        </td>
    </tr>
    </tbody>
</table>

<div>
    <form method="post" th:action="@{/maxima/execute}">
        <textarea cols="40" name="command" rows="1"></textarea>
        <br> <input type="submit" value="execute"/>
    </form>
</div>
<br>
<br>
<div>
    <form method="post" th:action="@{/maxima/rerun}">
        <input type="submit" value="Rerun all commands"/>
    </form>
    <form method="post" th:action="@{/maxima/restart}">
        <input type="submit" value="Restart Maxima"/>
    </form>
    <br>
    <form method="post" th:action="@{/maxima/destroy}">
        <input type="submit" value="Destroy Session"/>
    </form>
</div>
</body>
<script>
    function remove(index) {
        window.location.href = "/maxima/removeCommand?id=" + index;
    }
</script>
</html>