<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{sternDreieckTitel}"></title>
    <link href="css/standard.css" rel="stylesheet" type="text/css">
    <link href="css/sternDreieck.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="stern">
    <h1 th:text="#{stern}"/>
    <img src="/img/stern.png" th:alt="#{sternSchaltung}"><br><br>
    <form id="S" method="post" th:action="@{/sternEval}">
        <label for="SR1"><span>R<sub>a</sub>:</span></label><input id="SR1" name="R1" onchange="sumbitIfValid('S')" th:value="${tSR1}"
                                                                   type="text"><br>
        <label for="SR2"><span>R<sub>b</sub>:</span></label><input id="SR2" name="R2" onchange="sumbitIfValid('S')" th:value="${tSR2}"
                                                                   type="text"><br>
        <label for="SR3"><span>R<sub>c</sub>:</span></label><input id="SR3" name="R3" onchange="sumbitIfValid('S')" th:value="${tSR3}"
                                                                   type="text">
    </form>
</div>

<div class="dreieck">
    <h1 th:text="#{dreieck}"/>
    <img src="img/dreieck.png" th:alt="#{dreieckSchaltung}"><br><br>
    <form id="D" method="post" th:action="@{/dreieckEval}">
        <label for="DR1"><span>R<sub>ab</sub>:</span></label><input id="DR1" name="R1" onchange="sumbitIfValid('D')" th:value="${tDR1}"
                                                                    type="text"><br>
        <label for="DR2"><span>R<sub>bc</sub>:</span></label><input id="DR2" name="R2" onchange="sumbitIfValid('D')" th:value="${tDR2}"
                                                                    type="text"><br>
        <label for="DR3"><span>R<sub>ca</sub>:</span></label><input id="DR3" name="R3" onchange="sumbitIfValid('D')" th:value="${tDR3}"
                                                                    type="text">
    </form>
</div>
</body>
<script>
    function sumbitIfValid(char) {
        for (let i = 1; i < 4; i++) {
            if (isNaN(parseFloat(document.getElementById(char + "R" + i).value)))
                return;
        }
        document.getElementById(char).submit();
    }
</script>
</html>
